<!DOCTYPE html>
<html lang="th">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <title><%= pageTitle %> | WebNovel เว็บอ่านนิยายที่ดีที่สุดในซอยนี้ อ่านฟรี อ่านได้ตลอด</title>
    <meta name="description" content="วันหนึ่งมีข่าวฝรั่งตกบ่อจระเข้ แต่โชคดีจระเข้ไม่กินผลไม้">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/main.css" />
  
    
    
