<%- include('./layouts/head.ejs') %>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/404.css">
  </head>
  <body>
    <!-- Navbar -->
    <%- include('./layouts/navbar.ejs')%>
    </nav>

    <main>
      <div class="container">
        <h1>404</h1>
        <p>ขออภัย ไม่พบหน้าที่คุณกำลังค้นหา</p>
        <a href="/">กลับไปหน้าแรก</a>
      </div>
    </main>

    <!-- Footer -->
    <%- include('./layouts/footer.ejs') %>
    </footer>

    <!-- script -->
   <%- include('./layouts/script.ejs')%>
  </body>
</html>
