.text-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.text-contents::before {
  display: inline-block;
  content: "XXXX";
  visibility: hidden;
}

.chapter-read {
  border: grey 1px solid;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chapter-title {
  padding: 5px;
  font-size: 1.2em;
}

.top-page {
  border: none;
  text-align: center;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 5vh;
  left: 2vw;
}

.path-linker a {
  color: inherit;
  text-decoration: none;
}
