:root {
  --color-orange: #ea8912;
}

#banner {
  width: 50%;
  margin: 0 0 2rem;
  border-radius: 5px;
}

.btn-light:hover {
  background-color: #cc0000;
}

.card {
  background-color: #1e1e1e;
  color: #ffffff;
  border: 1px solid #333;
}

.img-container {
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.readButton {
  width: fit-content;
  height: fit-content;
  padding: 5px 10px;
  margin: 0 0 15px 15px;
}

/* Upscale 1+  */
.card-title {
  font-size: 1.5rem;
}

.card-body p {
  font-size: 0.9em;
}

.card-body p::before {
  content: "OO";
  display: inline;
  visibility: hidden;
}

.img-container img {
  position: relative;
}

.img-container span {
  position: absolute;
  top: 0;
  right: 0;
}

.genres-label {
  font-size: 0.9em;
}

.genre {
  font-size: 0.9em;
  padding: 4px 6px;
  margin-right: 4px;
  border: var(--color-red) 2px solid;
  border-radius: 5px;
  color: var(--color-red);
}

#showchapters {
  color: white;
  background: linear-gradient(
    90deg,
    rgb(255, 145, 1),
    rgb(243, 86, 47),
    #f73485
  );
}


